@font-face {
	font-family: VanguardDemiBold;
	src: url(Vanguard-CF-Demi-Bold.otf);
}

@font-face {
	font-family: GreycliffBold;
	src: url(Greycliff-CF-Bold.otf);
}

@font-face {
	font-family: Greycliff;
	src: url(Greycliff-CF-Regular.otf);
}

body {
	background: #ffd200 url("yellow-abstract-panel.jpg") no-repeat fixed center;
	font-size: 75%;
}

#control_panel {
	position: relative;
	margin: 2% auto;
	width: 100%;
}

button {
	outline: none !important;
}

.controls {
	background-color: #003c71;
	border: 3px solid white;
	border-radius: 10px;
	font-family: GreycliffBold;
	color: white;
	font-size: 1.3em;
	width: 100%;
}

.controls:hover {
	background-color: #00a0df;
}

.shadows {
	box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
}

#slider {
	margin: 0 auto;
	background-color: #003c71;
	border: 3px solid white;
	border-radius: 10px;
	font-family: GreycliffBold;
	color: white;
	font-size: 1.3em;
	outline: none;
	width: 100%;
}

#sliderRange {
	width: 100%;
	margin: 1% auto;
	outline: none;
	padding: 1%;
}

h1 {
	font-family: VanguardDemiBold;
	text-align: left;
	color: #003c71;
	font-size: 4em !important;
	margin: 0;
}

#main {
	position: relative;
	margin: 0 auto;
	height: 400px;
	background-color: #003c71;
	border: 3px solid white;
    border-radius: 10px;
    overflow: hidden;
}

#sorting_container {
	height: 100%;
	width: 100%;
    position: relative;
    margin: auto 0.5% auto 0.5%;
}

.block {
	background: #00a0df;
}

#info {
	border: 3px solid white;
	border-radius: 10px;
	background-color: white;
	padding: 1% 2.5% 1% 2.5%;
}

h2 {
	font-family: VanguardDemiBold;
	text-align: left;
	color: #000000;
	font-size: 2em;
	line-height: 0.5em;
}

p {
	font-family: Greycliff;
	font-size: 1.3em;
	line-height: 1.3em;
}

#header {
	position: relative;
	margin: 2% auto;
	width: 100%;
	height: 25%;
}