@font-face {
    font-family: VanguardDemiBold;
    src: url(Vanguard-CF-Demi-Bold.otf);
}

@font-face {
    font-family: GreycliffBold;
    src: url(Greycliff-CF-Bold.otf);
}

body {
    background: #ffd200 url("yellow-abstract-panel.jpg") no-repeat fixed center; 
}

#controls {
    position: relative;
    margin: 0 25vw 0 25vw;
    padding: 0;
    width: 50vw;
}

button {
    margin: 0 auto;
    display: inline-block;
    background-color: #003c71;
    border: 3px solid white;
    border-radius: 10px;
    font-family: GreycliffBold;
    color: white;
    font-size: 1vw;
    padding: 1vw;
}

button:hover {
    margin: 0 auto;
    display: inline-block;
    background-color: #00a0df;
    border: 3px solid white;
    border-radius: 10px;
    font-family: GreycliffBold;
    color: white;
    font-size: 1vw;
    padding: 1vw;
}

h1 {
    font-family: VanguardDemiBold;
    text-align: center;
    color: #003c71;
    font-size: 6vw;
}

#main {
    position: relative;
    margin: 5vh 25vw 5vh 25vw;
    padding: 25vh 0 0 0;
    background-color: #003c71;
    border: 3px solid white;
    border-radius: 10px;
    width: 50vw;
}

#sorting_container {
    position: inherit;
    margin: 5vh;
    width: inherit;
}

.block {
    background: #00a0df;
}